.appContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.appContainer button{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100px;
    height: 50px;
}