.codeSpan {
    font-family: "Hack";
    text-align: center;
}

.codeSpanLoad {
    font-family: "Hack";
    text-align: center;
}

.variableType {
    color: darkgreen;
}

.operator {
    color: orangered;
}

.accessSpecifier {
    color: yellow;
}

.keyWord {
    color: rgb(50, 50, 140);
}

.bracket {
    width: 1vw;
    color: rgb(30, 30, 30);
}

.number {
    color: darkslategrey;
}

.funcName {
    color: saddlebrown;
}

.else {
    width: 1vw;
    color: darkslateblue;
}

.variable {
    color: darkmagenta;
}