#mainContent {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

#viewDiv {
    display: flex;
    overflow: hidden;
}

#verticalLine {
    width: 2%;
    /* border-left: thick solid rgb(220, 220, 240);
    border-left: solid;
    border-right: solid;
    border-color: rgb(220, 220, 240); */
    cursor: col-resize;
}

#codeDiv {
    display: flex;
    overflow: auto;
    border-radius: 1vw;
    border-color: rgb(220, 220, 240); 
    background: rgb(50, 50, 140);
}