#mainContent {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

#viewDiv {
    display: flex;
    border-radius: 1vw;
    background: wheat;
    padding-top: 1vw; 
    padding-bottom: 1vw; 
    padding-left: 1vw; 
    padding-right: 1vw; 
}

#verticalLine {
    width: 2%;
    cursor: col-resize;
}

#codeDiv {
    display: flex;
    border-radius: 1vw;
    background: wheat;
    padding-top: 1vw; 
    padding-bottom: 1vw; 
    padding-left: 1vw; 
    padding-right: 1vw; 
}
.codeShowcaseContainer {
    display: flex;
    overflow: auto;
}
.codeShowcaseContainer::-webkit-scrollbar { 
    display: none; 
} 
