@import "./Colors.scss";

.side-drawer {
    position: relative;
    box-shadow: 5px 0 5px -1px  rgba(0, 0, 0, 0.5);
    background: $sideDrawerBackground;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.side-drawer-header {
    flex-grow: 1;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: $sideDrawerHeader;
    color: $sideDrawerText;
    text-decoration: none;
    font-size: 2.5vw;
}
.side-drawer-buttonList {
    height: 93%;
    background:#09194d;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    overflow: hidden;
}