@import "./Colors.scss";

.buttonDiv{
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.buttonCircle{
    background-color: rgb(20, 20, 20);
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out; */
}

.buttonDiv button{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-style: none;
    background:$sideDrawerButtonBackground;
    color: $sideDrawerButtonText;
    text-decoration: none;
    font-size: 1.1vw;
    text-align: start;
    margin-left: 2.1vw;
    transition: 400ms;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 2;
}

.buttonLink button:hover, button:visited, button:link, button:active{
    color: $sideDrawerText;
    text-decoration: none;
    outline: none;
}

.buttonText{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.explode-circle {
    animation: explode 0.75s forwards;
    -webkit-animation: explode 0.75s forwards;
    -moz-animation: explode 0.75s forwards;
    -ms-animation: explode 0.75s forwards;
}

.desplode-circle{
    animation: desplode 0.75s forwards;
    -webkit-animation: desplode 0.75s forwards;
    -moz-animation: desplode 0.75s forwards;
    -ms-zoom-animation: desplode 0.75s forwards;
}

@keyframes explode {
    0% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: $sideDrawerButtonBubbleStart;
    }
    100% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color:  $sideDrawerButtonBubbleEnd;
    }
}

@keyframes desplode {
    0% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color:  $sideDrawerButtonBubbleEnd;
    }
    100% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: $sideDrawerButtonBubbleStart;
    }
}