@import "./Colors.scss";

.side-drawer {
    position: relative;
    box-shadow: 5px 0 5px -1px  rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.side-drawer-header {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: $sideDrawerHeader;
    color: $sideDrawerTitle;
    text-decoration: none;
    font-size: 1.8vw;
}

.buttonListTitle {
    display: flex;
    flex-direction: column-reverse;
    background: $sideDrawerButtonListTitleBackground;
}
.titleSpacer {
    height: max-content;
}
.titleContent {
    height: 2.5vw;
    display: flex;
    flex-direction: row;
}
.titleContent img{
    margin-left: 10px;
    align-self: center;
    width: 1.5vw;
    height: 1.5vw;
}
.titleContent span{
    align-self: center;
    color: $sideDrawerButtonListTitleText;
    height: 2vw;
    font-size: 1.2vw;
    margin-left: 0.3vw;
}

.side-drawer-buttonList {
    height: 94%;
    background:$sideDrawerBackground;
    display: flex;
    flex-direction: column;
    // margin-top: 3%;
    overflow: hidden;
}