@import "./Colors.scss";

.sortableUnit {
    display: flex;
    flex-direction: column-reverse;
}

.sortableUnit .rectIndex {
    width: 100%;
    height: 20px;
    text-align: center;
    color: $SortableRectIndex;
}

.sortableUnit .rect {
    background: $SortableRect;
}

.sortableUnit .numLabel {
    text-align: center;
    color: $SortableRectNum;
    font-size: 1vw;
}